/* Spinner Styles */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner::after {
    content: '';
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 8px solid #ccc;
    border-top-color: #1d4ed8; /* Tailwind's blue-600 color */
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  